<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/Users/khrystyna/Desktop/PhotoProject/Server/server/static/styles.css"> -->
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>
<body>
    <h1>Please select file</h1>
    <form action='http://127.0.0.1:5000/' method= "POST" enctype="multipart/form-data"> 
<div>
            <label for="file">Choose a file to upload:</label>

            <input type="file"
                   id="file" name="file" multiple>
                   <!-- accept="image/png, image/jpeg"> -->
                
        </div>
        
            <div class="preview">
            <p>No files currently selected for upload</p>
            </div>
        </section>
        <button>Submit</button>  
    </form>
    <!-- <script src='/Users/khrystyna/Desktop/PhotoProject/Server/server/static/app.js'></script> -->
    <script src="{{url_for('static',filename='app.js')}}"></script>
</body>
</html>